<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            describer="net.certiv.fluent.dt.core.FluentContentDescriber"
            file-extensions="md, dot, mkd, mdown"
            id="net.certiv.fluent.dt.core.contentType"
            name="Fluentmark content "
            priority="high">
      </content-type>
   </extension>

   <extension
         id="net.certiv.fluent.dt.core.nature"
         name="Fluentmark Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="net.certiv.fluent.dt.core.FluentNature">
         </run>
      </runtime>
<!--      
      <builder
            id="net.certiv.fluent.dt.core.builder">
      </builder>
-->
   </extension>

<!--   
   <extension
         id="net.certiv.fluent.dt.core.builder"
         name="Fluentmark Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true"
            isConfigurable="true">
         <run
               class="net.certiv.fluent.dt.core.builder.FmBuilder">
         </run>
      </builder>
   </extension>
-->

   <extension
         id="net.certiv.fluent.dt.core.md.problem"
         name="Markdown Problem"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <persistent value="false"/>
   </extension>

   <extension
         id="net.certiv.fluent.dt.core.dot.problem"
         name="Dot Problem"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <persistent value="false"/>
   </extension>

   <extension
         id="net.certiv.fluent.dt.core.uml.problem"
         name="Uml Problem"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <persistent value="false"/>
   </extension>

   <extension
         id="net.certiv.fluent.dt.core.tex.problem"
         name="Tex Problem"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <persistent value="false"/>
   </extension>

   <extension
         id="net.certiv.fluent.dt.core.problem"
         name="Markdown Problem"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <persistent value="false"/>
   </extension>

   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.certiv.fluent.dt.core.preferences.PrefsInit">
      </initializer>
   </extension>

</plugin>
