<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<plugin>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="net.certiv.fluentmark.editorVisible">
			<with variable="activePartId">
    			<equals
          			value="net.certiv.fluentmark.editor.FluentMkEditor">
    			</equals>
			</with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="md,mdown,mkd,text"
            id="net.certiv.fluentmark.contentType"
            name="FluentMark Editor"
            priority="normal">
      </content-type>
   </extension>


   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="net.certiv.fluentmark.editor.FluentMkDocumentSetupParticipant"
            extensions="md,mdown,mkd,text">
      </participant>
   </extension>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.certiv.fluentmark.editor.FluentMkEditor"
            contributorClass="net.certiv.fluentmark.editor.FluentMkActionBarContributor"
            default="true"
            icon="icons/obj16/fluentmark.png"
            id="net.certiv.fluentmark.editor.FluentMkEditor"
            name="FluentMark Editor"
            symbolicFontName="org.eclipse.jface.textfont">
         <contentTypeBinding
               contentTypeId="net.certiv.fluentmark.contentType">
         </contentTypeBinding>
      </editor>
   </extension>

    <extension
       point="org.eclipse.ui.editors.templates">
    	<contextType
           class="net.certiv.fluentmark.assist.SourceTemplateContextType"
           id="net.certiv.fluentmark.templateContext"
           name="Fluent Editor"
           registryId="net.certiv.fluentmark.templates">
	    </contextType>
     <include
           file="resources/templates/templates.xml"
           translations="resources/templates/templates.properties">
     </include>
     <contextTypeRegistry
           id="net.certiv.fluentmark.templates">
     </contextTypeRegistry>
	</extension>

   <extension
         point="org.eclipse.ui.workbench.texteditor.spellingEngine">
      <engine
            class="net.certiv.fluentmark.spelling.MkSpellingEngine"
            default="true"
            id="net.certiv.fluentmark.spelling.MkSpellingEngine"
            label="FluentMark spelling engine">
      </engine>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="net.certiv.certivtools"
            class="net.certiv.fluentmark.views.FluentMkPreview"
            icon="icons/obj16/fluentmark.png"
            id="net.certiv.fluentmark.views.FluentMkPreview"
            name="FluentMark View"
            restorable="true">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="net.certiv.certivtools.prefs.TopLevelPage"
            class="net.certiv.fluentmark.preferences.pages.PrefPageEditor"
            id="net.certiv.fluentmark.preferences.pages.PrefPageEditor"
            name="FluentMark">
      </page>
      <page
            category="net.certiv.fluentmark.preferences.pages.PrefPageEditor"
            class="net.certiv.fluentmark.preferences.pages.PrefPageAppearance"
            id="net.certiv.fluentmark.preferences.PrefPageAppearance"
            name="Appearance">
      </page>
      <page
            category="net.certiv.fluentmark.preferences.pages.PrefPageEditor"
            class="net.certiv.fluentmark.preferences.pages.PrefPageConvert"
            id="net.certiv.fluentmark.preferences.PrefPageConvert"
            name="Converters">
      </page>
      <page
            category="net.certiv.fluentmark.preferences.pages.PrefPageEditor"
            class="net.certiv.fluentmark.preferences.pages.PrefPageSpeller"
            id="net.certiv.fluentmark.preferences.PrefPageSpeller"
            name="Spelling">
      </page>
      <page
            category="net.certiv.fluentmark.preferences.pages.PrefPageEditor"
            class="net.certiv.fluentmark.preferences.pages.PrefPageStyles"
            id="net.certiv.fluentmark.preferences.PrefPageStyles"
            name="Stylesheets">
      </page>
      <page
            category="net.certiv.fluentmark.preferences.pages.PrefPageEditor"
            class="net.certiv.fluentmark.preferences.pages.PrefPageTemplates"
            id="net.certiv.fluentmark.preferences.PrefPageTemplates"
            name="Templates">
      </page>
      <page
            category="net.certiv.fluentmark.preferences.pages.PrefPageEditor"
            class="net.certiv.fluentmark.preferences.pages.PrefPageFolding"
            id="net.certiv.fluentmark.preferences.pages.PrefPageFolding"
            name="Folding">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.certiv.fluentmark.preferences.PrefsInit">
      </initializer>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
      
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="net.certiv.fluentmark.MarkdownEditor">
            <command
                  commandId="net.certiv.fluentmark.openMkView"
                  icon="icons/obj16/fluentmark.png"
                  style="push"
                  tooltip="Open FluentMark Viewer">
               <visibleWhen>
                  <reference
                        definitionId="net.certiv.fluentmark.editorVisible">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="net.certiv.fluentmark.exportHtml"
                  icon="icons/etool16/htmlexport.gif"
                  style="push"
                  tooltip="Export as HTML">
               <visibleWhen>
                  <reference
                        definitionId="net.certiv.fluentmark.editorVisible">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="net.certiv.fluentmark.exportPdf"
                  icon="icons/obj16/pdf.png"
                  style="push"
                  tooltip="Export as PDF">
               <visibleWhen>
                  <reference
                        definitionId="net.certiv.fluentmark.editorVisible">
                  </reference>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:net.certiv.fluentmark.views.FluentMkPreview">
         <command
               commandId="net.certiv.fluentmark.refreshView"
               icon="icons/obj16/refresh.gif"
               style="push"
               tooltip="Refresh/redisplay view contents">
         </command>
         <command
               commandId="net.certiv.fluentmark.openStylesheets"
               icon="icons/obj16/css.png"
               label="Open Stylesheets"
               style="push"
               tooltip="Open stylesheet preferences">
         </command>
      </menuContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="FluentMark Editor"
            id="net.certiv.fluentmark.commands"
            name="FluentMark">
      </category>
      <command
            categoryId="net.certiv.fluentmark.commands"
            defaultHandler="net.certiv.fluentmark.handlers.OpenMdViewHandler"
            id="net.certiv.fluentmark.openMkView"
            name="Open FluentMark View">
      </command>
      <command
            categoryId="net.certiv.fluentmark.commands"
            defaultHandler="net.certiv.fluentmark.handlers.OpenStylesheetsHandler"
            description="Open stylesheets preference"
            id="net.certiv.fluentmark.openStylesheets"
            name="OpenStylesheets">
      </command>
      <command
            categoryId="net.certiv.fluentmark.commands"
            defaultHandler="net.certiv.fluentmark.handlers.ExportHtmlHandler"
            description="Export as Html"
            id="net.certiv.fluentmark.exportHtml"
            name="ExportHTML">
      </command>
      <command
            categoryId="net.certiv.fluentmark.commands"
            defaultHandler="net.certiv.fluentmark.handlers.ExportPdfHandler"
            description="Export as PDF"
            id="net.certiv.fluentmark.exportPdf"
            name="ExportPDF">
      </command>
      <command
            categoryId="net.certiv.fluentmark.commands"
            defaultHandler="net.certiv.fluentmark.handlers.RefreshViewHandler"
            description="Refresh view"
            id="net.certiv.fluentmark.refreshView"
            name="Refresh view">
      </command>
      <command
            categoryId="net.certiv.fluentmark.commands"
            defaultHandler="net.certiv.fluentmark.handlers.FormatHandler"
            description="Format"
            id="net.certiv.fluentmark.format"
            name="Format">
      </command>
      <command
            categoryId="net.certiv.fluentmark.commands"
            defaultHandler="net.certiv.fluentmark.handlers.ToggleHiddenCommentHandler"
            description="Toggle Hidden Comment"
            id="net.certiv.fluentmark.hiddenComment"
            name="Hidden Comment ">
      </command>
      <command
            categoryId="net.certiv.fluentmark.commands"
            defaultHandler="net.certiv.fluentmark.handlers.ToggleVisibleCommentHandler"
            description="Toggle Visible Comment"
            id="net.certiv.fluentmark.visibleComment"
            name="Visible Comment">
      </command>
   </extension>

   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="net.certiv.fluentmark.handlers.OpenMdViewHandler"
            commandId="net.certiv.fluentmark.openMkView">
         <activeWhen>
            <reference
                  definitionId="net.certiv.fluentmark.editorVisible">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="net.certiv.fluentmark.editorVisible">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="net.certiv.fluentmark.handlers.OpenStylesheetsHandler"
            commandId="net.certiv.fluentmark.openStylesheets">
         <activeWhen>
            <reference
                  definitionId="net.certiv.fluentmark.editorVisible">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="net.certiv.fluentmark.editorVisible">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="net.certiv.fluentmark.handlers.ExportHtmlHandler"
            commandId="net.certiv.fluentmark.exportHtml">
         <activeWhen>
            <reference
                  definitionId="net.certiv.fluentmark.editorVisible">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="net.certiv.fluentmark.editorVisible">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="net.certiv.fluentmark.handlers.ExportPdfHandler"
            commandId="net.certiv.fluentmark.exportPdf">
         <activeWhen>
            <reference
                  definitionId="net.certiv.fluentmark.editorVisible">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="net.certiv.fluentmark.editorVisible">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="net.certiv.fluentmark.handlers.FormatHandler"
            commandId="net.certiv.fluentmark.format">
         <activeWhen>
            <reference
                  definitionId="net.certiv.fluentmark.editorVisible">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="net.certiv.fluentmark.editorVisible">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="net.certiv.fluentmark.handlers.ToggleHiddenCommentHandler"
            commandId="net.certiv.fluentmark.hiddenComment">
         <activeWhen>
            <reference
                  definitionId="net.certiv.fluentmark.editorVisible">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="net.certiv.fluentmark.editorVisible">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="net.certiv.fluentmark.handlers.ToggleVisibleCommentHandler"
            commandId="net.certiv.fluentmark.visibleComment">
         <activeWhen>
            <reference
                  definitionId="net.certiv.fluentmark.editorVisible">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="net.certiv.fluentmark.editorVisible">
            </reference>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="FluentMark Editor"
            id="net.certiv.fluentmark.ui.editorScope"
            name="FluentMark"
            parentId="org.eclipse.ui.textEditorScope">
      </context>
   </extension>
   

   <extension
         point="org.eclipse.ui.bindings">

      <!--  win32:  M1=CTRL,    M2=SHIFT, M3=ALT, M4=-
            carbon: M1=COMMAND, M2=SHIFT, M3=ALT, M4=CTRL -->
         
      <key
            commandId="net.certiv.fluentmark.format"
            contextId="net.certiv.fluentmark.ui.editorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+F">
      </key>
      <key
            commandId="net.certiv.fluentmark.hiddenComment"
            contextId="net.certiv.fluentmark.ui.editorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+/">
      </key>
      <key
            commandId="net.certiv.fluentmark.visibleComment"
            contextId="net.certiv.fluentmark.ui.editorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+/">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="net.certiv.certivtools.wizards"
            class="net.certiv.fluentmark.wizards.FluentMkNewWizard"
            descriptionImage="icons/FluentMark_doc.png"
            icon="icons/obj16/fluentmark.png"
            id="net.certiv.fluentmark.wizards.FluentMkNewWizard"
            name="FluentMark file">
      </wizard>
   </extension>
   
</plugin>
