/* https://github.com/markdowncss/modest */
//colors
$black: #000;
$mountain_mist: #999;
$curious_blue: #3498db;
$boston_blue: #2980b9;
$tundora: #444;
$alabaster: #fafafa;

//fonts
$font_0: Menlo;
$font_1: Monaco;
$font_2: Courier New;
$font_3: monospace;
$font_4: Open Sans Condensed;
$font_5: sans-serif;
$font_6: Arimo;
$font_7: Helvetica;

//urls
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700');
@import url('https://fonts.googleapis.com/css?family=Arimo:700,700italic');

pre {
  font-family: $font_0, $font_1, $font_2, $font_3;
  background-color: $alabaster;
  padding: .5rem;
  line-height: 1.25;
  overflow-x: scroll;
}
code {
  font-family: $font_0, $font_1, $font_2, $font_3;
  background-color: $alabaster;
}
a {
  color: $curious_blue;
  &:visited {
    color: $curious_blue;
  }
  &:hover {
    color: $boston_blue;
  }
  &:focus {
    color: $boston_blue;
  }
  &:active {
    color: $boston_blue;
  }
}
.modest-no-decoration {
  text-decoration: none;
}
html {
  font-size: 12px;
  font-size: 18px;
  max-width: 100%;
}
@media screen and(min-width: 32rem) and(max-width: 48rem) {
  html {
    font-size: 15px;
  }
}
@media screen and(min-width: 48rem) {
  html {
    font-size: 16px;
  }
}
@media print {
  * {
    background: transparent !important;
    color: $black !important;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: none !important;
    //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: none !important;
    &:before {
      background: transparent !important;
      color: $black !important;
      //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      box-shadow: none !important;
      //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      text-shadow: none !important;
    }
    &:after {
      background: transparent !important;
      color: $black !important;
      //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      box-shadow: none !important;
      //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      text-shadow: none !important;
    }
  }
  a {
    text-decoration: underline;
    &:visited {
      text-decoration: underline;
    }
  }
  pre {
    border: 1px solid $mountain_mist;
    page-break-inside: avoid;
  }
  blockquote {
    border: 1px solid $mountain_mist;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr {
    page-break-inside: avoid;
  }
  img {
    page-break-inside: avoid;
    max-width: 100% !important;
  }
  p {
    orphans: 3;
    widows: 3;
  }
  h2 {
    orphans: 3;
    widows: 3;
    page-break-after: avoid;
  }
  h3 {
    orphans: 3;
    widows: 3;
    page-break-after: avoid;
  }
  a[href]:after {
    content: "(" attr(href) ")";
  }
  abbr[title]:after {
    content: "(" attr(title) ")";
  }
  a[href^="#"]:after {
    content: "";
  }
  a[href^="javascript:"]:after {
    content: "";
  }
}
body {
  line-height: 1.85;
  color: $tundora;
  font-family: $font_4, $font_5;
  font-weight: 300;
  margin: 0 auto;
  max-width: 48rem;
  line-height: 1.45;
  padding: .25rem;
}
p {
  font-size: 1rem;
  margin-bottom: 1.3rem;
}
.modest-p {
  font-size: 1rem;
  margin-bottom: 1.3rem;
}
h1 {
  margin: 1.414rem 0 .5rem;
  font-weight: inherit;
  line-height: 1.42;
  margin-top: 0;
  font-size: 3.998rem;
  font-family: $font_6, $font_7, $font_5;
  border-bottom: 2px solid $alabaster;
  margin-bottom: 1.15rem;
  padding-bottom: .5rem;
  text-align: center;
}
.modest-h1 {
  margin: 1.414rem 0 .5rem;
  font-weight: inherit;
  line-height: 1.42;
  margin-top: 0;
  font-size: 3.998rem;
}
h2 {
  margin: 1.414rem 0 .5rem;
  font-weight: inherit;
  line-height: 1.42;
  font-size: 2.827rem;
  font-family: $font_6, $font_7, $font_5;
  border-bottom: 2px solid $alabaster;
  margin-bottom: 1.15rem;
  padding-bottom: .5rem;
  text-align: center;
}
.modest-h2 {
  margin: 1.414rem 0 .5rem;
  font-weight: inherit;
  line-height: 1.42;
  font-size: 2.827rem;
}
h3 {
  margin: 1.414rem 0 .5rem;
  font-weight: inherit;
  line-height: 1.42;
  font-size: 1.999rem;
  font-family: $font_6, $font_7, $font_5;
  border-bottom: 2px solid $alabaster;
  margin-bottom: 1.15rem;
  padding-bottom: .5rem;
  text-align: center;
}
.modest-h3 {
  margin: 1.414rem 0 .5rem;
  font-weight: inherit;
  line-height: 1.42;
  font-size: 1.999rem;
}
h4 {
  margin: 1.414rem 0 .5rem;
  font-weight: inherit;
  line-height: 1.42;
  font-size: 1.414rem;
  font-family: $font_6, $font_7, $font_5;
}
.modest-h4 {
  margin: 1.414rem 0 .5rem;
  font-weight: inherit;
  line-height: 1.42;
  font-size: 1.414rem;
}
h5 {
  font-size: 1.121rem;
  font-family: $font_6, $font_7, $font_5;
}
.modest-h5 {
  font-size: 1.121rem;
}
h6 {
  font-size: .88rem;
  font-family: $font_6, $font_7, $font_5;
}
.modest-h6 {
  font-size: .88rem;
}
small {
  font-size: .707em;
}
.modest-small {
  font-size: .707em;
}
img {
  max-width: 100%;
}
canvas {
  max-width: 100%;
}
iframe {
  max-width: 100%;
}
video {
  max-width: 100%;
}
svg {
  max-width: 100%;
}
select {
  max-width: 100%;
}
textarea {
  max-width: 100%;
}
blockquote {
  border-left: 8px solid $alabaster;
  padding: 1rem;
}
