body {
	color: #444;
	font-family: 'Fira Code', 'Droid Sans Mono', 'Roboto Mono', 'Ubuntu Mono', monospace;
	font-size: 12px;
	line-height: 1.5em;
	padding: 1em;
	margin: auto;
	max-width: 42em;
	background: #fefefe;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	color: #111;
	line-height: 1em;
	orphans: 3;
	widows: 3;
	page-break-after: avoid;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-weight: bold;
	font-size: 1.2em;
}

h5 {
	font-weight: bold;
	font-size: 1em;
}

h6 {
	font-weight: bold;
	font-size: 0.9em;
}

pre, code, kbd, samp {
	color: black;
	font-family: 'Fira Code', 'Source Code Pro' 'DejaVu Sans Code', 
		'Liberation Mono', 'courier new', monospace;
	font-size: 0.98em;
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

a {
	color: #0645ad;
	text-decoration: none;
}

a:visited {
	color: #0b0080;
}

a:hover {
	color: #06e;
	outline: 0;
}

a:active {
	color: #faa700;
	outline: 0;
}

a:focus {
	outline: thin dotted;
}

::selection {
	background: rgba(255, 255, 0, 0.3);
	color: black;
}

a::selection {
	background: rgba(255, 255, 0, 0.3);
	color: #0645ad;
}

p {
	margin: 1em 0;
}

img {
	max-width: 100%;
	border: 0;
	vertical-align: middle;
}

blockquote {
	color: #666666;
	margin: 0;
	padding-left: 3em;
	border-left: 0.5em #eee solid;
}

hr {
	display: block;
	height: 2px;
	border: 0;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #eee;
	margin: 1em 0;
	padding: 0;
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

b, strong {
	font-weight: bold;
}

i, em, dfn var, cite {
	font-style: italic;
}

u, ins {
	background: #ff9;
	color: black;
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

span .math {
	background-color: #e6e6ff;
}

span .strikethrough {
	text-decoration: line-through;
	color: red;
}
mark {
	background: #ff0;
	color: black;
	font-style: italic;
	font-weight: bold;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

ul {
	margin: 1em 0;
	padding: 0 0 0 2em;
}

ol {
	margin: 1em 0;
	padding: 0 0 0 2em;
}

dd {
	margin: 0 0 0 2em;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td {
	vertical-align: top;
}

p {
	orphans: 3;
	widows: 3;
}


li p:last-child {
	margin: 0;
}