<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            describer="net.certiv.fluentmark.core.FluentmarkContentDescriber"
            file-extensions="md,markdown,mdown,mkd,Rmd"
            id="net.certiv.fluentmark.contentType"
            name="Fluentmark"
            priority="high">
      </content-type>
   </extension>
   
   <extension
         id="nature"
         name="Fluentmark Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="net.certiv.fluentmark.core.FluentmarkNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="net.certiv.fluent.core.problem"
         name="Fluentmark Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.certiv.fluentmark.core.preferences.PrefsInit">
      </initializer>
   </extension>
</plugin>
